.btn
{
    align-items: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    height: 2.5rem;
    justify-content: center;
    padding: 0 1.875rem;

    &-ico
    {
        background-position: 50%;
        height: 1rem;
        width: 1rem;
    }

    &-light
    {
        box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.12);
    }

    &-sm
    {
        height: 1.875rem;
        font-size: .875rem;
        font-weight: normal;
        padding: 0 1.25rem;
    }

    &-lg
    {
        height: 3.125rem;
        flex: 0 0 3.125rem;
    }
}


// Buttons group
.btn-group
{
    .btn
    {
        min-width: 9rem;
        padding: 0;
        width: auto;

        &-active
        {
            background-color: $blue;
            border-color: $blue;
            color: $white !important;

            &:hover
            {
                background-color: $blue;
                border-color: $blue;
                color: $white !important;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;

        .btn
        {
            width: 50%;
        }
    }

    &--uppercase
    {
        .btn
        {
            text-transform: uppercase;
        }
    }
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child)
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child)
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}