.dropdown,
.dropup
{
    &.show
    {
        .dropdown-toggle::after
        {
            transform: rotate(180deg);
        }

        .dropdown-menu
        {
            display: block;
        }
    }

    .dropdown-toggle
    {
        align-items: center;
        border: 1px solid $gray-200;
        border-radius: $border-radius;
        color: $black;
        cursor: pointer;
        display: flex;
        height: 2.5rem;
        padding: 0 2.375rem 0 .9375rem;
        position: relative;

        &::after
        {
            background: url('../i/icons/chevron.svg') no-repeat scroll 0 0;
            border: none;
            content: ' ';
            height: .5rem;
            margin-top: 1rem;
            position: absolute;
            right: .9375rem;
            top: 0;
            width: .8125rem;
        }
    }
}

.dropdown
{
    .dropdown-menu
    {
        margin-top: .625rem;
    }
}

.dropup
{
    .dropdown-menu

    {
        margin-bottom: .625rem;
    }
}

.dropdown-menu
{
    background: $white;
    display: none;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;

    @include media-breakpoint-down(xs) {
        width: 100%;
    }
}

.dropdown-item
{
    align-items: center;
    display: flex;
    font-size: .875rem;
    min-height: 2.5rem;
    margin-top: -1px;
    padding: .25rem .9375rem;

    & ~ .dropdown-item
    {
        border-top: 1px solid $gray-200;
    }

    &:hover
    {
        background: $blue;
        border-color: $blue;
        color: $white;
    }

    &:first-child
    {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    &:last-child
    {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}