.page-item
{
	margin-left: -1px;

	&.prev,
	&.next
	{
		.page-link
		{
			width: 5rem;
		}
	}

	// &:first-child
	// {
	// 	.page-link
	// 	{
	// 		border-top-left-radius: $border-radius;
	// 		border-bottom-left-radius: $border-radius;
	// 	}
	// }

	// &:last-child
	// {
	// 	.page-link
	// 	{
	// 		border-top-right-radius: $border-radius;
	// 		border-bottom-right-radius: $border-radius;
	// 	}
	// }
}

.page-link
{
	align-items: center;
	border: 1px solid $gray-200;
	color: inherit;
	display: flex;
	height: 2.5rem;
	justify-content: center;
	width: 2.5rem;

	&:hover
	{
		background: $blue;
		border-color: $blue;
		color: $white;
	}
}